body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: linear-gradient(to right, #396a93, #00ccff);
  color: #fff; /* Ensures text is readable on the dark background */
}

.button-container button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  background-color: #f2f2f2; /* Light background for contrast */
  color: #333; /* Dark text for visibility */
  border: none;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button-container button:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
}

#videoContainer {
  margin-top: 20px;
}

.quiz-container {
  width: 450px;
  padding: 20px;
  margin: 50px auto; /* Centering the container */
  background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent white for content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  color: #333; /* Dark text for readability */
}

h1 {
  text-align: center;
  margin-bottom: 30px; /* Extra space under the header */
}

.question {
  font-weight: bold;
  margin-bottom: 10px;
}

.options {
  margin-bottom: 20px;
}

.option {
  display: block;
  margin-bottom: 10px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  background-color: #f2f2f2;
  color: #333;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
}


#result button.retry-button {
  background-color: #d2143a; /* Red */
  color: white;
  border: none;
  padding: 15px 30px; /* Increase padding for a bigger button */
  border-radius: 10px; /* Rounded corners */
}

#result button.retry-button:hover {
	background-color: #f6a2b3;
}

#result button.show-answers-button {
  background-color: #77ac39;
  color: white;
  border: none;
  padding: 15px 30px; /* Increase padding for a bigger button */
  border-radius: 10px; /* Rounded corners */
}

#result button.show-answers-button:hover {
	background-color: #a9d279;
}
	
#quiz .button {
  color: white;	
  background-color: #002080; 
}

#quiz .button:hover {
  background-color: #9999ff;
}

/* Styles for the Navigation Bar */

.navigationbar {
  background-color: #191970;
  padding: 5px;
  display: flex;
}

.navigationbar img {
  width: 180px;
  margin-right: auto; /* Adjusted for automatic spacing */
}

.navigationbar ul {
  list-style-type: none;
  display: flex;
  align-items: center; 
  margin-left: auto; /* Adjusted for automatic spacing */
}

.navigationbar li {
  font-family: 'Oswald';
  padding: 10px;
}

.navigationbar li a {
  color: white;
  text-decoration: none;
  padding: 15px;
  background-color: #0234d2;
  border-radius: 5px; /* Rounded corners for links */
}

.navigationbar li a:hover {
  background-color: #80b3ff;
}
